<div class="card">
    <div class="card-header">Pesquisar por:</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" id="titulo" class="form-control">
            </div>
            <loja-filter-button></loja-filter-button>
            <div class="form-group">
                <label for="banda">Banda</label>
                <input type="text" id="banda" class="form-control">
            </div>
            <loja-filter-button></loja-filter-button>
            <div class="form-group">
                <label for="ano">Ano</label>
                <input type="number" id="ano" class="form-control" min="1970" max="2022">
            </div>
            <loja-filter-button></loja-filter-button>
        </form>
    </div>
</div>